persistence:
  enabled: {{ k8s_grafana_persistence_enabled }}
  storageClassName: {{ storage_class_name }}
  accessModes:
    - ReadWriteOnce
  size: {{ k8s_grafana_persistence_size }}
  annotations: {}
  subPath: ""

service:
  type: {{ k8s_grafana_service_type }}
{% if k8s_grafana_service_type == "NodePort" and k8s_grafana_nodeport is defined %}
  nodePort: {{ k8s_grafana_nodeport }}
{% endif %}

adminUser: {{ k8s_grafana_admin_name }}
adminPassword: {{ k8s_grafana_admin_password }}

{% if k8s_grafana_datasources is defined %}
datasources:
{{ k8s_grafana_datasources|indent(2,True) }}
{% endif %}

grafana.ini:
  paths:
    data: /var/lib/grafana/data
    logs: /var/log/grafana
    plugins: /var/lib/grafana/plugins
    provisioning: /etc/grafana/provisioning
  analytics:
    check_for_updates: true
  log:
    mode: console
  grafana_net:
    url: https://grafana.net
{% if k8s_grafana_db_type is defined %}
  database:
    url: {{ k8s_grafana_db_type }}://{{ k8s_grafana_db_user }}:{{ k8s_grafana_db_password }}@{{ k8s_grafana_db_host }}:{{ k8s_grafana_db_port }}/{{ k8s_grafana_db_name }}
{% endif %}

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards/default

dashboards:
  default:
{% for name,dashboard in k8s_grafana_dashboards.iteritems() %}
    {{ name }}:
      json: |
        {
           "__inputs": [ ],
           "__requires": [ ],
           "annotations": {
              "list": [ ]
           },
           "editable": false,
           "gnetId": null,
           "graphTooltip": 0,
           "hideControls": false,
           "id": null,
           "links": [ ],
           "panels": [
{% for panel in dashboard.panels %}
              {
                 "aliasColors": { },
                 "bars": false,
                 "dashLength": 10,
                 "dashes": false,
                 "datasource": "default",
                 "fill": 10,
                 "gridPos": {
                    "h": {{ panel.gridpos_h }},
                    "w": {{ panel.gridpos_w }},
                    "x": {{ panel.gridpos_x }},
                    "y": {{ panel.gridpos_y }}
                 },
                 "id": {{ 1 + loop.index }},
                 "legend": {
                    "alignAsTable": true,
                    "avg": true,
                    "current": true,
                    "max": true,
                    "min": true,
                    "rightSide": false,
                    "show": true,
                    "total": false,
                    "values": true
                 },
                 "lines": true,
                 "linewidth": 1,
                 "links": [ ],
                 "nullPointMode": "null",
                 "percentage": false,
                 "pointradius": 5,
                 "points": false,
                 "renderer": "flot",
                 "repeat": null,
                 "seriesOverrides": [ ],
                 "spaceLength": 10,
                 "span": 6,
                 "stack": true,
                 "steppedLine": false,
                 "targets": [
{% for target in panel.targets %}
                    {
                       "datasource": "default",
                       "expr": "{{ target.expr }}",
                       "format": "time_series",
                       "intervalFactor": "2",
                       "legendFormat": "{{ target.legend_format }}",
                       "refId": "A"
                    }
{% endfor %}
                 ],
                 "thresholds": [ ],
                 "timeFrom": null,
                 "timeShift": null,
                 "title": "{{ panel.name }}",
                 "tooltip": {
                    "shared": true,
                    "sort": 0,
                    "value_type": "individual"
                 },
                 "type": "graph",
                 "xaxis": {
                    "buckets": null,
                    "mode": "time",
                    "name": null,
                    "show": true,
                    "values": [ ]
                 },
                 "yaxes": [
                    {
                       "decimals": {% if panel.decimals is defined %}{{ panel.decimals }}{% else %}null{% endif %},
                       "format": "{{ panel.format }}",
                       "label": null,
                       "logBase": 1,
                       "max": {% if panel.max is defined %}{{ panel.max }}{% else %}null{% endif %},
                       "min": {% if panel.min is defined %}{{ panel.min }}{% else %}null{% endif %},
                       "show": true
                    },
                    {
                       "decimals": {% if panel.decimals is defined %}{{ panel.decimals }}{% else %}null{% endif %},
                       "format": "{{ panel.format }}",
                       "label": null,
                       "logBase": 1,
                       "max": {% if panel.max is defined %}{{ panel.max }}{% else %}null{% endif %},
                       "min": {% if panel.min is defined %}{{ panel.min }}{% else %}null{% endif %},
                       "show": true
                    }
                 ]
              }{% if not loop.last %},{% endif %}
{% endfor %}
           ],
           "refresh": "{% if dashboard.refresh is defined %}{{ dashboard.refresh }}{% else %}30s{% endif %}",
           "rows": [ ],
           "schemaVersion": 16,
           "style": "dark",
           "tags": [
{% for tag in dashboard.tags %}
              "{{ tag }}"{% if not loop.last %},{% endif %}
{% endfor %}
           ],
           "templating": {
              "list": [
{% for template in dashboard.templates %}
                 {
                    "allValue": null,
                    "current": { },
                    "datasource": "default",
                    "hide": 0,
                    "includeAll": false,
                    "label": "{{ template.label }}",
                    "multi": false,
                    "name": "{{ template.name }}",
                    "options": [ ],
                    "query": "{{ template.query }}",
                    "refresh": 2,
                    "regex": "",
                    "sort": 0,
                    "tagValuesQuery": "",
                    "tags": [ ],
                    "tagsQuery": "",
                    "type": "query",
                    "useTags": false
                 }
{% endfor %}
              ]
           },
           "time": {
              "from": "now-3h",
              "to": "now"
           },
           "timepicker": {
              "refresh_intervals": [
                 "5s",
                 "10s",
                 "30s",
                 "1m",
                 "5m",
                 "15m",
                 "30m",
                 "1h",
                 "2h",
                 "1d"
              ],
              "time_options": [
                 "5m",
                 "15m",
                 "1h",
                 "6h",
                 "12h",
                 "24h",
                 "2d",
                 "7d",
                 "30d"
              ]
           },
           "timezone": "browser",
           "title": "{{ dashboard.name }}",
           "version": 0
        }
{% endfor %}
