persistence:
  enabled: {{ k8s_grafana_persistence_enabled }}
  storageClassName: {{ storage_class_name }}
  accessModes:
    - ReadWriteOnce
  size: {{ k8s_grafana_persistence_size }}
  annotations: {}
  subPath: ""

service:
  type: {{ k8s_grafana_service_type }}
  nodePort: {{ k8s_grafana_nodeport }}

adminUser: {{ k8s_grafana_admin_name }}
adminPassword: {{ k8s_grafana_admin_password }}

grafana.ini:
  paths:
    data: /var/lib/grafana/data
    logs: /var/log/grafana
    plugins: /var/lib/grafana/plugins
    provisioning: /etc/grafana/provisioning
  analytics:
    check_for_updates: true
  log:
    mode: console
  grafana_net:
    url: https://grafana.net
  database:
    url: {{ k8s_grafana_db_type }}://{{ k8s_grafana_db_user }}:{{ k8s_grafana_db_password }}@{{ k8s_grafana_db_host }}:{{ k8s_grafana_db_port }}/{{ k8s_grafana_db_name }}
